.ordertitle{
    font-size: xx-large;
    margin-bottom: auto;
}
#container{
    text-align: center;
}

td{
    text-align: center;
}
img{
	height: 100px;
	width: 100px;

}

/* -------------------------------------------------------------------------------------------- */
.review{
    display: block;
    background: #030303;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    margin-bottom: 5px;
    table-layout: fixed;
    font-size: smaller;
}
.ordercancle{
    display: block;
    background: #030303;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: smaller;
    border-radius: 50px;
    margin-bottom: 5px;
}
.deliver{
    display: block;
    background: #030303;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    font-size: smaller;
}
/* 비고란 버튼 css---------------------------------------------------------------- */


.ordertable{
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,.1);  
    margin: 25px auto;
    width: 1200px;
    height: 170px;
}

.ordertable thead tr{
    border-top: 1px solid grey;
    border-bottom:  1px solid grey;
    height: 50px;
}


/* 테이블 css----------------------------------------------------------------------- */


.deliver_list{
    background-color: grey;
    color: #fff;
}